<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Docker Training</title>
    <base href="/index.html">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <meta name="keywords" content="training, docker, docker-compose, docker-machine, swarm, stack, service, portainer">
    <meta name="author" content="Nhi TRAN">
    <link rel='stylesheet' href="{{ url_for('static',filename='stylesheets/style.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
    <div id="content-container">
        <div id="content-container-center">
            <h3>
                Picture viewer
            </h3>
            <h5>
                Processed by container ID {{hostname}}
            </h5>
            <hr>
            <img src="{{ picture }}" alt="Picture" />
        </div>
    </div>
</body>

</html>